.detalle{
    max-width: 530px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 14px;
    box-shadow: 0 2px 12px rgba(0,0,0,.05);
}

.tituloS {
    text-align: center;
    padding: 8px 12px;
}
 
 .detalle p {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    align-items: center;
    text-align: center;
 }
 
 
 .detalle img{
    margin-left: 15px;
 }
 

 