 .search-form{
    display: flex;
    align-items: center;
    grid-template-columns: 2fr 6fr;  
    column-gap:5px;
    align-items:center;
    width:100%;
    max-width:420px;            
  }
  .search-form .btn-sm{
    line-height:1;
    font-size:.9rem;
  }
  .search-form input{
    border:1px solid #ccc;
    border-radius:4px;
    padding:3px 8px 4px;
    font-size:1rem;
  }