
.logo{
  height:80px;
  width:auto;
  display:block;
  align-self:center;
  margin:0;
}


nav{
  display:grid;
  grid-template-columns: 1fr;      
  align-items:center;
  background:#eee;
  border-radius:4px;
  margin-bottom:20px;
  padding:10px 15px;
}


.nav{
  display:flex;                  
  justify-content:space-between;
  align-items:center;
  gap:20px;
  margin:0 !important;
  width:100%;
}


.nav ul{
  display:flex;
  list-style:none;        
  gap:15px;
  margin:0;
  padding:0;
}


.nav a{
  color:#444;
  text-decoration:none;
}
.nav a:hover{ font-weight:bold; }


.search-form{
  display:grid;
  grid-template-columns: 1fr auto;  
  column-gap:5px;
  align-items:center;
  width:100%;
  max-width:420px;            
}
.search-form .btn-sm{
  line-height:1;
  font-size:.9rem;
}
.search-form input{
  border:1px solid #ccc;
  border-radius:4px;
  padding:3px 8px 4px;
  font-size:1rem;
}

@media (min-width:765px){
  nav{
    grid-template-columns: 2fr 6fr; 
  }
}
