
.logo{
  height:80px;
  width:auto;
  display:block;
  align-self:center;
  margin:0;
}


nav{
  display:flex;
  justify-content: space-between;
  grid-template-columns: 1fr;      
  align-items:center;
  background:#eee;
  border-radius:4px;
  margin-bottom:20px;
  padding:10px 15px;
}


.nav{
  display:flex;                  
  justify-content:center;
  align-items:center;
  gap: 36px;
  padding: 14px 24px;
  width:100%;
}


.nav ul{
  display:flex;
  list-style:none;        
  gap:15px;
  margin:0;
  margin-left: 100px;
  padding:0;
}


.nav a{
  color:#333;
  text-decoration:none;
  font-weight: 500;
}



.search-form{
  display:grid;
  grid-template-columns: 1fr auto;  
  column-gap:5px;
  align-items:center;
  width:100%;
  max-width:420px;            
}
.search-form{
  line-height:1;
  font-size:.9rem;
  
} .btn-sm{
  line-height:1;
  font-size:.9rem;
}
.search-form input{
  border:1px solid #ccc;
  border-radius:4px;
  padding:3px 8px 4px;
  font-size:1rem;
}

